.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d1d5db;;
  background-color: #efefef;
  max-width: 80%;
  padding: 10px 10%;
}
.NavBar__Items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  width: 50%;
}